DSP_HOST=https://YOUR_TENANT.eu10.hcs.cloud.sap/
DSP_SPACE=YOUR_SPACE_ID
CLI_HTTP_PORT=8010

BDC_LOCAL_TABLES_DIR=C:\path\to\csn\local_tables
BDC_FLOWS_DIR=C:\path\to\csn\replication_flows
BDC_VIEWS_DIR=C:\path\to\csn\views
